
node_modules/
.DS_Store
*.log
.env
recall-ui/.gitignore
recall-ui/node_modules/
recall-ui/.DS_Store
recall-ui/build/
recall-ui/.env
recall-ui/.env.local
recall-ui/.contentlayer
recall-ui/package-lock.json
recall-api/.gitignore
recall-api/.DS_Store
recall-api/.vscode/
recall-api/.github
recall-etl/.funcignore
recall-etl/.gitignore
recall-etl/.DS_Store
recall-etl/.vscode/
